MONGODB_URI=mongodb://admin:changeme_strong_password_here@localhost:27021/qtc_syncer?authSource=admin
ENCRYPTION_KEY=replace_with_64_char_hex_string_00000000000000000000000000000000
CONNECTOR_API_URL=http://localhost:4000
CONNECTOR_INTERNAL_KEY=replace_with_64_char_hex_string_11111111111111111111111111111111
NEXTAUTH_SECRET=replace_with_nextauth_secret_base64_string
NEXTAUTH_URL=http://localhost:3061
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=changeme_admin_password
NEXT_TELEMETRY_DISABLED=1
